[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg = {extras = ["binary", "pool"], version = "*"}
numpy = "*"
pandas = "*"

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
invoke = "*"

[requires]
python_version = "3.10"
